{% extends "adminparent.html" %}
{% block body %}
<div class="row">
    <div class="col-sm-12">
        <h1 style="text-align:center;"> Dashboard </h1>
    </div>
</div>
<div class="row g-4 mt-3">
    <div class="col-sm-6 col-xl-3">
        <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
            <i class="fa fa-chart-line fa-3x text-info"></i>
            <div class="ms-3">
                <p class="mb-2">Total Customer</p>
                <h6 class="mb-0">{{total_user}}</h6>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-xl-3">
        <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
            <i class="fas fa-phone-alt fa-2x text-info"></i>
            <div class="ms-3">
                <p class="mb-2">Total Enquiries</p>
                <h6 class="mb-0">{{total_enquiry}}</h6>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-xl-3">
        <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
            <i class="fas fa-comment-alt fa-2x text-info"></i>

            <div class="ms-3">
                <p class="mb-2">Total Feedback</p>
                <h6 class="mb-0">{{total_fed}}</h6>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-xl-3">
        <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
            <i class="fas fa-exclamation-circle fa-2x text-danger"></i>

            <div class="ms-3">
                <p class="mb-2">Total Complains</p>
                <h6 class="mb-0">{{total_com}}</h6>
            </div>
        </div>
    </div>
</div>

<div class="container mt-4 px-4">
    <div class="row gx-5">
        <div class="col-sm-4">
            <div class="bg-secondary rounded d-flex align-items-center justify-content-evenly p-4">
                <i class="fas fa-box fa-4x text-dark"></i>
                <div class="ms-3">
                    <p class="mb-2 fs-4">Total Products</p>
                    <h6 class="mb-0 fs-3 text-info">{{total_pro}}</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="p-3">
                <p class="mb-2 fs-5">Top Feedback:</p>
                <table class="table text-success">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Feedback</th>
                        </tr>
                    </thead>
                    <tbody>
            
                        {% for e in feedback %}
                        <tr>
                            <td>{{e.name}}</td>
                            <td>{{e.responsetext}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock body %}