{% extends "base.html" %}

{% block title %} About {% endblock %}

{% block body %}
<div class="row">
    <div
        style="height: 150px; text-align: center; background: url('https://images.unsplash.com/photo-1606206591513-adbfbdd7a177?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') center center/cover no-repeat; color: aliceblue; ">

        <h1 class="roboto-slab-mainhead mt-5">About US..</h1>

    </div>
</div>

<div class="row">
    <div class="col-sm-3" style="background-color: aqua; min-height: 600px;">

    </div>
    <div class="col-sm-9" style="background-color: whitesmoke; min-height: 600px;">



    </div>
</div>
{% endblock %}