{% extends "base.html" %}

{% load static %}

{% block title %} Home {% endblock %}

{% block body %}


<!-- Slider -->


<div class="row">
    <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{% static 'images/image1.jpg' %}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="{% static 'images/image2.jpg' %}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="{% static 'images/image3.jpg' %}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="{% static 'images/image4.jpg' %}" class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>

<!-- content Area -->

<div class="row">
    <div class="col-sm-3" style="background-color: aqua; min-height: 600px;">

    </div>
    <div class="col-sm-9" style="background-color: whitesmoke; min-height: 600px;">

        {% if msg %}
          <div class="alert alert-success alert-dismissible fade show text-center" role="alert">
            <strong>{{msg}}</strong> 
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        {% endif%}
        

    </div>
</div>



{% endblock %}